.game-container {
    position: relative;
    border: 2px solid grey;
    width: 600px;
    height: 600px;
    margin: 50px auto;
    background-color: whitesmoke;
}

.snake-dot {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: black;
    border: 1px solid white;
    z-index: 2;
}

.food {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: red;
    border: 1px solid white;
    z-index: 1;
}

body {
    overflow: hidden;
}

.App {
    height: 100vh;
    display: flex;
    align-items: center;
    min-height: 650px;
}
